@font-face {
  font-family: 'Golden Age';
  src: url('./assets/GOLDENAge.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.menu-Container{
  position: absolute;
  top: 0px;
  left: 0px;
}

.overlayMenu
{
  position: absolute;
  display: flex;
  gap: 20px;
  justify-content: center;
  top: 5%;
  color: #4fc3f7;
  width: 100%;
  text-decoration: none;
}

.sideMenuOverlay
{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  align-items: flex-end;
  color: #4fc3f7;
  font-size: 4vw;
  text-decoration: none;
}



.fontGoldenAgeOverlay{
  font-family: 'Golden Age', sans-serif;
  color: #4fc3f7;
  margin: 0px;
  font-size: 24px;
  text-decoration: none;
}

.fontGoldenAgeOverlay:hover {
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

@media screen and (min-width: 650px) {
  .fontGoldenAgeOverlay
  {
    font-size: 2.5rem;
  }
  
}

@media screen and (max-width: 649px) {
  .fontGoldenAgeOverlay
  {
    font-size: 5vw;
  }
  
}

.marginLogo{
  margin-top: 1%;
}

@media screen and (max-width: 820px) {
  .marginLogo
  {
    margin-top: 75px;
  }
  
}



.fontGoldenAge{
  font-family: 'Golden Age', sans-serif;
  color: #00FF99;
  margin: 0px;
  font-size: 24px;
}
