@font-face {
  font-family: 'Golden Age';
  src: url('./assets/GOLDENAge.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.menu-Container{
  position: absolute;
  top: 0px;
  left: 0px;
}

.overlayMenu
{
  position: absolute;
  display: flex;
  gap: 2rem;
  justify-content: center;
  top: 20px;
  color: #4fc3f7;
  width: 100%;
  font-size: 2rem;
  text-decoration: none;
}



.fontGoldenAge{
  font-family: 'Golden Age', sans-serif;
  color: #00FF99;
  margin: 0px;
  font-size: 24px;
}
