@font-face {
  font-family: 'Golden Age';
  src: url('./assets/GOLDENAge.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.menu-Container{
  position: absolute;
  top: 0px;
  left: 0px;
}

.overlayMenu
{
  position: absolute;
  display: flex;
  gap: 20px;
  justify-content: center;
  top: 8%;

  color: #4fc3f7;
  width: 100%;
  text-decoration: none;
}



.sideMenuOverlay
{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  align-items: flex-end;
  color: #4fc3f7;
  text-decoration: none;
}



.fontGoldenAgeOverlay{
  font-family: 'Golden Age', sans-serif;
  color: #ffffff;
  margin: 0px;
  font-size: 24px;
  text-decoration: none;
}

.fontGoldenAgeOverlay:hover {
  color: #4fc3f7;
  cursor: pointer;
  transition: color 0.3s ease;
}

.LogoContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 701px) {
  .LogoContainer{
    justify-content: flex-start;
  }


}

@media screen and (min-width: 675px) {
  .fontGoldenAgeOverlay
  {
    font-size: 25px;
  }
}

@media screen and (max-width: 701px) {
  .fontGoldenAgeOverlay
  {
    margin-top: 30px;
    font-size: 3.5vw;
  }
  
}

.NextButtonPopUp{
  width: 120px;
}



.buttonContainerPopUp{
  top: 30vw;
  padding-right: 10vw;
  gap: 1vw;
}
.MatrixButtons{
  width: 100px;
}

.fontGoldenAgePoPup{
  font-family: 'Golden Age', sans-serif;
  color: #000000;
  margin: 0px;
  font-size: 17px;
}

.textContainerPopUp{
  width: 25vw;
}




@media screen and (max-width: 798px) {

    .marginLogo{
    margin-top: 0.5%;
    width: 40px;
  }
  .NextButtonPopUp{
  width: 120px;
}
 .buttonContainerPopUp
  {
    top: 244px;
    gap: 20px;
    padding-right: 75px;
  }
}

@media screen and (max-width: 1000px) {

 .buttonContainerPopUp
  {
    top: 304px;
    gap: 20px;
    padding-right: 75px;
  }
}

@media screen and (max-width: 1280px) {
    .fontGoldenAgePoPup{
    font-size: 16px;
  }

  .textContainerPopUp{
    width: 290px;
  }

}

@media screen and (max-width: 1180px) {
    .fontGoldenAgePoPup{
    font-size: 14px;
  }

  .textContainerPopUp{
    width: 270px;
  }

}

@media screen and (max-width: 900px) {
    .fontGoldenAgePoPup{
    font-size: 13px;
  }

  .textContainerPopUp{
    width: 250px;
  }

}

@media screen and (max-width: 780px) {
    .fontGoldenAgePoPup{
    font-size: 12px;
  }

  .textContainerPopUp{
    width: 240px;
  }

}






.fontGoldenAge{
  font-family: 'Golden Age', sans-serif;
  color: #00FF99;
  margin: 0px;
  font-size: 24px;
}


.grad1 {
  font-family: 'Golden Age', sans-serif;
    background: red;
    background: -webkit-linear-gradient(left, #C594FA,#FF93BD, #FFF6B8, #B7FEF7, #99DFFF, #92A3F2);
    background: -o-linear-gradient(right, #C594FA,#FF93BD, #FFF6B8, #B7FEF7, #99DFFF, #92A3F2);
    background: -moz-linear-gradient(right, #C594FA,#FF93BD, #FFF6B8, #B7FEF7, #99DFFF, #92A3F2);
    background: linear-gradient(to right, #C594FA,#FF93BD, #FFF6B8, #B7FEF7, #99DFFF, #92A3F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
  font-size: 38px;
}

.grad2 {
  font-family: 'Golden Age', sans-serif;
    background: red;
    background: -webkit-linear-gradient(left, #C594FA,#FF93BD, #FFF6B8, #B7FEF7, #99DFFF, #92A3F2);
    background: -o-linear-gradient(right, #C594FA,#FF93BD, #FFF6B8, #B7FEF7, #99DFFF, #92A3F2);
    background: -moz-linear-gradient(right, #C594FA,#FF93BD, #FFF6B8, #B7FEF7, #99DFFF, #92A3F2);
    background: linear-gradient(to right, #C594FA,#FF93BD, #FFF6B8, #B7FEF7, #99DFFF, #92A3F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 24px;
    gap: 20px;
} 

.marginLogo{
  margin-top: 2.5%;
  width: 90px;
  margin-left: 40px;
}

@media screen and (max-width: 701px) {

  .marginLogo{
    margin-top: 10px;
    width: 60px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 850px) {
  .grad2
  {
    font-size: 2.5rem;
  }
  .overlayMenu
  {
    gap: 10px;
  }
}

@media screen and (max-width: 649px) {
  .grad2
  {
    font-size: 5vw;
    
  }
  .overlayMenu
  {
    gap: 10px;
  }
}

.grad2:hover{ -webkit-transform: scale(1.2); }